@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  -webkit-tap-highlight-color: transparent;
  box-sizing: border-box;
}

html,
body {
  background-color: #f4f4f4;
  color: #161616;
  overscroll-behavior-y: none;
}
